*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Open Sans',sans-serif;
}
header{
    position: relative;
    width: 100%;
    height: 600px;
    background: #FF0099;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, hsla(323, 19%, 24%, 0.979), #d10057e5),url('https://iili.io/KImf07.jpg');  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, hsla(323, 19%, 24%, 0.979), #d10057e5),url('https://iili.io/KImf07.jpg'); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    

}
nav{
    width: 100%;
    padding: 30px 50px 0 0;
    text-align: right;
    
}
nav > a{
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}
nav > a:hover{
    text-decoration: underline;
}
.wave{
    width: 100%;
    position: absolute;
    bottom: 0;
    
}
.textos-header{
    width: 100%;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.textos-header h1{
    font-size: 4rem;
    color: white;
}
.textos-header h2{
    font-size: 3rem;
    color: white;
    margin-top: 10px;
    font-weight: 300;
}
/* MAIN */
.contenedor{
    padding: 60px 0;
    width: 90%;
    margin: auto;
    max-width: 1000px;
    overflow: hidden;
}

.titulo{
    text-align: center;
    font-size: 2.6rem;
    color: rgb(94, 0, 94);
}
.sobre-nosotros .contenido-sobre-nosotros{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.sobre-nosotros .contenido-sobre-nosotros img{
    width: 50%;
}
.contenido-sobre-nosotros .texto-sobre-nosotros h3{
    font-size: 1.6rem;
    margin: 15px 0;
}
.contenido-sobre-nosotros .texto-sobre-nosotros span{
    display: inline-block;
    background-color: rgb(146, 0, 146);
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    border-radius: 50px;
    padding: 2px;
    margin-right: 5px;
    font-size: 1.2rem;

}

.contenido-sobre-nosotros .texto-sobre-nosotros p{
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
    line-height: 1.8rem;
}
/* Galeria */

.portafolio{
    background-color: #f2f2f2;
}
.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 50px;
}
.imagen-port{
    width: 24%;
    height: 250px;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}
.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}